.wrapper {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    border: solid 1px #F7146B;
    border-radius: 8px;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.submitButton {
    margin-top: 8px;
    width: 80px;
    height: 40px;
    padding: 4px;
    border-radius: 8px;
    background-color: #F7146B;
    color: white;
    border: none;
}

.inputField {
    margin-top: 2px;
    margin-bottom : 8px;
    height: 40px;
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.2rem;
}

/*For desktop*/
@media (min-width: 768px) {
    .formWrapper {
        gap: 32px;
        flex-direction: row;
    }

    .submitButton {
        margin-top: 0;
        width: 60px;
        height: 60px;
        font-size: 1.3rem;
    }

    .inputField {
        margin-bottom: 0;
    }
}
